:root {
    --primaryFont: 'Nunito Sans', sans-serif;
}
html {
    font-size: 16px;
}
h1 {
    font-size: 2rem;
}
body {
    font-family: var(--primaryFont);
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
article {
    margin: 15rem auto;
}
section {
    text-align: center;
}
button {
    padding: 1% 3%;
    border-radius: 10px;
    font-family: var(--primaryFont);
    font-size: 1rem;
}



