:root {
    --primaryFont: 'Nunito Sans', sans-serif;
}
html {
    font-size: 16px;
}
body {
    font-family: var(--primaryFont);
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
article {
    margin: 20rem auto;
}



