* {
    box-sizing: border-box;
}

:root {
    --primaryFont: 'Nunito Sans', sans-serif;
    --buttonColor: #4285f4;
    --boxShadowColor: rgba(0,0,0,0.4);
}

html {
    font-size: 16px;
}

h1 {
    font-size: 3rem;
}

body {
    font-family: var(--primaryFont);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    margin: 12rem auto;  
}

section {
    text-align: center;
    padding-bottom: 1.5rem;
}

button {
    font-family: var(--primaryFont);
    font-weight: 600;
    background: var(--buttonColor);
    color: white;
    text-transform: uppercase;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px var(--boxShadowColor);
    cursor: pointer;
}



